:root {
  --color-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-gold: #ffb964;
  --color-white: #fcfaf9;
  --color-black: #191826; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: clamp(4rem, 8vw, 8.8rem);
  line-height: 1; }

.heading-2 {
  font-size: clamp(3.2rem, 8.533vw, 4rem);
  line-height: calc(40 / 32); }

.paragraph {
  font-size: clamp(1.6rem, 2.25vw, 2rem);
  line-height: 1.7; }

.paragraph-2 {
  font-size: clamp(1.8rem, 4.8vw, 2rem);
  line-height: calc(28 / 18); }

.paragraph-3 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  gap: 1.6rem; }
  .paragraph-3 span {
    font-size: 6.5rem;
    font-weight: 700; }

.premium__EQ--btns-IOS,
.premium__EQ--btns-android {
  transition: all 0.2s; }

.premium__EQ--btns-IOS:hover {
  background-color: var(--color-blue);
  color: var(--color-white); }

.premium__EQ--btns-android:hover {
  background-color: var(--color-gold); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 91em) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-white);
  background-image: url(../../assets/bg-main-mobile.png);
  background-size: cover;
  background-position: 7rem -17rem; }
  @media screen and (min-width: 27em) {
    body {
      background-image: url(../../assets/bg-main-tablet.png);
      background-position: -15rem -15rem; } }
  @media screen and (min-width: 49em) {
    body {
      background-image: url(../../assets/bg-main-desktop.png); } }

.u-margin-LR {
  margin: 0 2.4rem; }
  @media screen and (min-width: 27em) {
    .u-margin-LR {
      margin: 0 4rem; } }
  @media screen and (min-width: 49em) {
    .u-margin-LR {
      margin: 0 16.5rem; } }

.u-margin-top {
  margin-top: 16.6rem; }
  @media screen and (min-width: 27em) {
    .u-margin-top {
      margin-top: 24.9rem; } }

.u-padding-top {
  padding-top: 0.4rem; }

.btn {
  height: 6.1rem;
  border-radius: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer; }

.footer {
  position: relative;
  top: 34rem;
  width: 87.2%;
  margin: 0 auto;
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }
  @media screen and (min-width: 27em) {
    .footer {
      top: 18.3rem; } }
  @media screen and (min-width: 49em) {
    .footer {
      flex-direction: row;
      gap: calc(min(9.583vw, 13.8rem));
      top: 20.2rem;
      width: 77.083%; } }
  .footer__text {
    display: flex;
    flex-direction: column;
    gap: 6.4rem; }
    @media screen and (min-width: 27em) {
      .footer__text {
        flex-direction: row;
        gap: 20rem; } }
  .footer__logo {
    height: 3.2rem; }
  .footer__paragraph {
    font-size: 1.6rem;
    line-height: 1.7; }
  .footer__socials {
    display: flex;
    gap: 2rem; }
    @media screen and (min-width: 27em) {
      .footer__socials {
        align-items: center; } }

.header {
  display: grid;
  gap: 6.4rem;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 27em) {
    .header {
      gap: 9.5rem; } }
  @media screen and (min-width: 49em) {
    .header {
      gap: 12.7rem; } }
  .header__img {
    display: none; }
    @media screen and (min-width: 27em) {
      .header__img {
        display: inline;
        position: absolute;
        height: 40rem;
        right: -4rem;
        top: -4rem; } }
    @media screen and (min-width: 49em) {
      .header__img {
        right: 0; } }
  .header__logo {
    margin-top: 4rem; }
    @media screen and (min-width: 27em) {
      .header__logo {
        margin-top: 6.2rem; } }
  .header__text {
    display: grid;
    gap: 2rem; }
    @media screen and (min-width: 27em) {
      .header__text {
        width: calc(min(87rem, 64.25vw));
        gap: 2.8rem; } }
    @media screen and (min-width: 27em) {
      .header__text {
        gap: 4rem; } }

.premium {
  position: relative; }
  .premium__phone {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 43rem;
    position: absolute;
    top: -9.8rem;
    z-index: 2; }
    @media screen and (min-width: 27em) {
      .premium__phone {
        transform: translateY(0);
        left: 9.7rem;
        top: -13.8rem;
        height: 55.6rem; } }
    @media screen and (min-width: 49em) {
      .premium__phone {
        left: calc(min(19.931vw, 28.7rem));
        top: -21.3rem;
        height: 64.2rem; } }
  .premium__background {
    height: 60rem;
    background: var(--color-black);
    border-radius: 1.2rem;
    position: relative;
    overflow: hidden;
    z-index: 1; }
    @media screen and (min-width: 27em) {
      .premium__background {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 90.625%; } }
    @media screen and (min-width: 49em) {
      .premium__background {
        width: 77.083%; } }
    .premium__background--img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 42rem; }
      @media screen and (min-width: 27em) {
        .premium__background--img {
          top: -3.1rem;
          left: 37.2rem; } }
      @media screen and (min-width: 49em) {
        .premium__background--img {
          left: calc(min(34.792vw, 50.1rem)); } }
  .premium__EQ {
    padding: 4.8rem 3.6rem;
    background: var(--color-orange);
    border-radius: 1.2rem;
    color: var(--color-white);
    display: grid;
    gap: 3.2rem;
    position: absolute;
    top: 38rem;
    z-index: 3; }
    @media screen and (min-width: 27em) {
      .premium__EQ {
        padding: 4.8rem;
        width: 39.9rem;
        top: 15rem;
        left: 27.2rem; } }
    @media screen and (min-width: 49em) {
      .premium__EQ {
        top: 9rem;
        width: calc(min(30.972vw, 44.6rem));
        left: calc(min(50.972vw, 73.4rem)); } }
    .premium__EQ--text {
      display: grid;
      gap: 1.2rem; }
    .premium__EQ--btns {
      display: flex;
      flex-direction: column;
      gap: 1.6rem; }
      .premium__EQ--btns-IOS {
        background-color: var(--color-black);
        color: var(--color-white); }
      .premium__EQ--btns-android {
        background-color: var(--color-white);
        color: var(--color-black); }
