:root {
  --color-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-gold: #ffb964;
  --color-white: #fcfaf9;
  --color-black: #191826; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: clamp(4rem, 8vw, 8.8rem);
  line-height: 1; }

.paragraph {
  font-size: clamp(1.6rem, 2.25vw, 2rem);
  line-height: 1.7; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-white);
  background-image: url(../../assets/bg-main-mobile.png);
  background-size: cover;
  background-position: 7rem -17rem; }
  @media screen and (min-width: 27em) {
    body {
      background-image: url(../../assets/bg-main-tablet.png);
      background-position: -15rem -15rem; } }
  @media screen and (min-width: 49em) {
    body {
      background-image: url(../../assets/bg-main-desktop.png); } }

.u-margin-LR {
  margin: 0 2.4rem; }
  @media screen and (min-width: 27em) {
    .u-margin-LR {
      margin: 0 4rem; } }
  @media screen and (min-width: 49em) {
    .u-margin-LR {
      margin: 0 16.5rem; } }

.header {
  display: grid;
  gap: 6.4rem; }
  @media screen and (min-width: 27em) {
    .header {
      gap: 9.5rem; } }
  @media screen and (min-width: 49em) {
    .header {
      gap: 12.7rem; } }
  .header__img {
    display: none; }
    @media screen and (min-width: 27em) {
      .header__img {
        display: inline;
        position: absolute;
        height: 40rem;
        right: -4rem;
        top: -4rem; } }
    @media screen and (min-width: 49em) {
      .header__img {
        right: 0; } }
  .header__logo {
    margin-top: 4rem; }
    @media screen and (min-width: 27em) {
      .header__logo {
        margin-top: 6.2rem; } }
  .header__text {
    display: grid;
    gap: 2rem; }
    @media screen and (min-width: 27em) {
      .header__text {
        width: calc(min(87rem, 64.25vw));
        gap: 2.8rem; } }
    @media screen and (min-width: 27em) {
      .header__text {
        gap: 4rem; } }
