:root {
  --color-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-gold: #ffb964;
  --color-white: #fcfaf9;
  --color-black: #191826; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-white);
  background-image: url(../../assets/bg-main-desktop.png);
  background-size: cover;
  background-position: -15rem -15rem; }
  @media screen and (max-width: 50em) {
    body {
      background-image: url(../../assets/bg-main-tablet.png); } }
  @media screen and (max-width: 31.25em) {
    body {
      background-image: url(../../assets/bg-main-mobile.png);
      background-position: 20rem -20rem; } }

.u-margin-left {
  margin-left: 16.5rem; }
  @media screen and (max-width: 50em) {
    .u-margin-left {
      margin-left: 3.9rem; } }
  @media screen and (max-width: 31.25em) {
    .u-margin-left {
      margin-left: 2.4rem; } }

.u-padding-top {
  padding-top: 6rem; }

.header {
  display: inline-block;
  width: 81.95%;
  min-width: 32.7rem; }
  .header__img {
    position: absolute;
    right: 0;
    top: -4rem; }
    @media screen and (max-width: 50em) {
      .header__img {
        height: 40rem;
        right: -4rem; } }
    @media screen and (max-width: 31.25em) {
      .header__img {
        display: none; } }
  .header__logo-box {
    display: block; }
  .header__logo {
    width: auto; }
