///////////////////////////////////////////
//BREAKPOINTS
$bp-tablet: 27em;
$bp-desktop: 49em;
$bp-max: 91em;

///////////////////////////////////////////
//ROOT VARIABLES
:root {
  --color-blue: #66e2dc;
  --color-orange: #fa7453;
  --color-gold: #ffb964;
  --color-white: #fcfaf9;
  --color-black: #191826;
}
