.header {
  display: inline-block;
  width: 81.95%;
  min-width: 32.7rem;

  &__img {
    position: absolute;
    right: 0;
    top: -4rem;

    @media screen and (max-width: $bp-tablet) {
      height: 40rem;
      right: -4rem;
    }

    @media screen and (max-width: $bp-phone) {
      display: none;
    }
  }

  &__logo-box {
    display: block;
  }

  &__logo {
    width: auto;
  }
}
