*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media screen and (min-width: $bp-max) {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-white);
  background-image: url(../../assets/bg-main-mobile.png);
  background-size: cover;
  background-position: 7rem -17rem;

  @media screen and (min-width: $bp-tablet) {
    background-image: url(../../assets/bg-main-tablet.png);
    background-position: -15rem -15rem;
  }

  @media screen and (min-width: $bp-desktop) {
    background-image: url(../../assets/bg-main-desktop.png);
  }
}
