.u-margin-LR {
  margin: 0 2.4rem;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 4rem;
  }

  @media screen and (min-width: $bp-desktop) {
    margin: 0 16.5rem;
  }
}

.u-margin-top {
  margin-top: 16.6rem;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 24.9rem;
  }
}

.u-padding-top {
  padding-top: 0.4rem;
}
